*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{

    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.form-control{
    border-radius: 0px;
    border: none;
    border-bottom: 3px solid rgb(0, 0, 0);
    background-color: rgba(128, 128, 128, 0);

}


#login-form{
    
    text-align: center;
    background-color: rgba(128, 128, 128, 0);
    
}

.container-form{

    border-radius: 10px;
    padding: 2% 5%;
    width: 40%;
    background-color: rgba(128, 128, 128, 0.249)
}

#btn-submit{

    width: 80%;
    border-radius: 20px;
    font-size: large;

}

.bi-book{
    font-size: 15vh;
}