<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- Meus scripts -->
    <script src="../static/js/scripts.js" defer></script>
    <link rel="stylesheet" href="../static/css/alterar_senha.css">
    <title>Alterar Senha</title>
</head>

<body class="container-fluid">
    <div class="container">
        <div class="container-form row">
            <span class="mb-4"><i class="bi bi-book "></i></span>
            <form action="" id="login-form">
                <div class="form-group">
                    <label for="senha"></label>
                    <input type="password" id="senha" name="senha" placeholder="Senha" class="form-control">
                </div>
                <div class="form-group">
                    <label for="senha"></label>
                    <input type="password" id="nova-senha" name="nova-senha" placeholder="Nova senha" class="form-control">
                </div>
                <div class="form-group">
                    <label for="senha"></label>
                    <input type="password" id="nova-senha-2" name="nova-senha-2" placeholder="Repita a nova senha" class="form-control mb-5">
                </div>
                <button type="submit" class="btn btn-secondary mb-4" id="btn-submit">ALTERAR SENHA</button>
            </form>
            <div class="row">
                <a href="recuperar_senha.html" class="text-black mb-4">Esqueci minha senha</a>
            </div>

        </div>

    </div>
</body>

</html>