<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- Meus scripts -->
    <script src="../static/js/home.js" defer></script>
    <link rel="stylesheet" href="../static/css/emprestados.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emprestados</title>
</head>

<body class="container-fluid">
    <div class="row ">
        <div class="sidebar col-1">
            <span>EMPRESTADOS</span>
        </div>
        <div class="container-conteudo col">
            <div class="container-barra-pesquisa">
                <a href="home.html" title="Ir para home" alt="Home"><img src="../static/img/mylib.png" alt=""></a>
                <div class="container-selects">
                    <div class="selects-pesquisa"></div>
                    <label for="emprestado"></label>
                    <select name="emprestado" id="emprestado">
                        <option value="" disabled selected>Emprestado</option>
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select>
                    <label for="genero"></label>
                    <select name="genero" id="genero">
                        <option value="" disabled selected>Gênero</option>
                        <option value="terror">Terror</option>
                        <option value="romance">Romance</option>
                        <option value="comedia">Comédia</option>
                        <option value="drama">Drama</option>
                        <option value="investigacao">Investigação</option>
                    </select>
                    <label for="avaliacao"></label>
                    <select name="avaliacao" id="avaliacao">
                        <option value="" disabled selected>Avaliação</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="container-input">
                    <label for="pesquisa"></label>
                    <input type="text" name="pesquisa" id="pesquisa" placeholder="Pesquisar por um livro...">
                    <i class="bi bi-search"></i>
                </div>
            </div>
            <div class="container-cards row">
                <div class="container-card col-3">
                    <div class="card-livro">
                        <img src="https://source.unsplash.com/200x400" alt="">
                        <div class="descricao-livro">
                            <span class="nome-livro">Nome: <i class="bi bi-star-fill"></i></span>
                            <span>Autor: Paulo Rodrigo</span>
                            <span>Emprestado: nao</span>
                            <span>Coleção: de inverno</span>
                        </div>

                        <div class="botoes-card d-flex justify-content-around">
                            <a href="#"><i class="bi bi-pencil-square" title="Editar"></i></a>
                            <a href="#"><i class="bi bi-box2-heart" title="Emprestar"></i></a>
                            <a href="#"><i class="bi bi-x-circle" title="Deletar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container-card col-3">
                    <div class="card-livro">
                        <img src="https://source.unsplash.com/200x401" alt="">
                        <div class="descricao-livro">
                            <span class="nome-livro">Nome: <i class="bi bi-star-fill"></i></span>
                            <span>Autor: Paulo Rodrigo</span>
                            <span>Emprestado: nao</span>
                            <span>Coleção: de inverno</span>
                        </div>

                        <div class="botoes-card d-flex justify-content-around">
                            <a href="#"><i class="bi bi-pencil-square" title="Editar"></i></a>
                            <a href="#"><i class="bi bi-box2-heart" title="Emprestar"></i></a>
                            <a href="#"><i class="bi bi-x-circle" title="Deletar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container-card col-3">
                    <div class="card-livro">
                        <img src="https://source.unsplash.com/200x402" alt="">
                        <div class="descricao-livro">
                            <span class="nome-livro">Nome: <i class="bi bi-star-fill"></i></span>
                            <span>Autor: Paulo Rodrigo</span>
                            <span>Emprestado: nao</span>
                            <span>Coleção: de inverno</span>
                        </div>

                        <div class="botoes-card d-flex justify-content-around">
                            <a href="#"><i class="bi bi-pencil-square" title="Editar"></i></a>
                            <a href="#"><i class="bi bi-box2-heart" title="Emprestar"></i></a>
                            <a href="#"><i class="bi bi-x-circle" title="Deletar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container-card col-3">
                    <div class="card-livro">
                        <img src="https://source.unsplash.com/202x402" alt="">
                        <div class="descricao-livro">
                            <span class="nome-livro">Nome: <i class="bi bi-star-fill"></i></span>
                            <span>Autor: Paulo Rodrigo</span>
                            <span>Emprestado: nao</span>
                            <span>Coleção: de inverno</span>
                        </div>

                        <div class="botoes-card d-flex justify-content-around">
                            <a href="#"><i class="bi bi-pencil-square" title="Editar"></i></a>
                            <a href="#"><i class="bi bi-box2-heart" title="Emprestar"></i></a>
                            <a href="#"><i class="bi bi-x-circle" title="Deletar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container-card col-3">
                    <div class="card-livro">
                        <img src="https://source.unsplash.com/198x402" alt="">
                        <div class="descricao-livro">
                            <span class="nome-livro">Nome: <i class="bi bi-star-fill"></i></span>
                            <span>Autor: Paulo Rodrigo</span>
                            <span>Emprestado: nao</span>
                            <span>Coleção: de inverno</span>
                        </div>

                        <div class="botoes-card d-flex justify-content-around">
                            <a href="#"><i class="bi bi-pencil-square" title="Editar"></i></a>
                            <a href="#"><i class="bi bi-box2-heart" title="Emprestar"></i></a>
                            <a href="#"><i class="bi bi-x-circle" title="Deletar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container-card col-3">
                    <div class="card-livro">
                        <img src="https://source.unsplash.com/202x399" alt="">
                        <div class="descricao-livro">
                            <span class="nome-livro">Nome: <i class="bi bi-star-fill"></i></span>
                            <span>Autor: Paulo Rodrigo</span>
                            <span>Emprestado: nao</span>
                            <span>Coleção: de inverno</span>
                        </div>

                        <div class="botoes-card d-flex justify-content-around">
                            <a href="#"><i class="bi bi-pencil-square" title="Editar"></i></a>
                            <a href="#"><i class="bi bi-box2-heart" title="Emprestar"></i></a>
                            <a href="#"><i class="bi bi-x-circle" title="Deletar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container-card col-3">
                    <div class="card-livro">
                        <img src="https://source.unsplash.com/201x399" alt="">
                        <div class="descricao-livro">
                            <span class="nome-livro">Nome: <i class="bi bi-star-fill"></i></span>
                            <span>Autor: Paulo Rodrigo</span>
                            <span>Emprestado: nao</span>
                            <span>Coleção: de inverno</span>
                        </div>

                        <div class="botoes-card d-flex justify-content-around">
                            <a href="#"><i class="bi bi-pencil-square" title="Editar"></i></a>
                            <a href="#"><i class="bi bi-box2-heart" title="Emprestar"></i></a>
                            <a href="#"><i class="bi bi-x-circle" title="Deletar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container-card col-3">
                    <div class="card-livro">
                        <img src="https://source.unsplash.com/200x399" alt="">
                        <div class="descricao-livro">
                            <span class="nome-livro">Nome: <i class="bi bi-star-fill"></i></span>
                            <span>Autor: Paulo Rodrigo</span>
                            <span>Emprestado: nao</span>
                            <span>Coleção: de inverno</span>
                        </div>

                        <div class="botoes-card d-flex justify-content-around">
                            <a href="#"><i class="bi bi-pencil-square" title="Editar"></i></a>
                            <a href="#"><i class="bi bi-box2-heart" title="Emprestar"></i></a>
                            <a href="#"><i class="bi bi-x-circle" title="Deletar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container-card col-3">
                    <div class="card-livro">
                        <img src="https://source.unsplash.com/202x400" alt="">
                        <div class="descricao-livro">
                            <span class="nome-livro">Nome: <i class="bi bi-star-fill"></i></span>
                            <span>Autor: Paulo Rodrigo</span>
                            <span>Emprestado: nao</span>
                            <span>Coleção: de inverno</span>
                        </div>

                        <div class="botoes-card d-flex justify-content-around">
                            <a href="#"><i class="bi bi-pencil-square" title="Editar"></i></a>
                            <a href="#"><i class="bi bi-box2-heart" title="Emprestar"></i></a>
                            <a href="#"><i class="bi bi-x-circle" title="Deletar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container-card col-3">
                    <div class="card-livro">
                        <img src="https://source.unsplash.com/201x400" alt="">
                        <div class="descricao-livro">
                            <span class="nome-livro">Nome: <i class="bi bi-star-fill"></i></span>
                            <span>Autor: Paulo Rodrigo</span>
                            <span>Emprestado: nao</span>
                            <span>Coleção: de inverno</span>
                        </div>

                        <div class="botoes-card d-flex justify-content-around">
                            <a href="#"><i class="bi bi-pencil-square" title="Editar"></i></a>
                            <a href="#"><i class="bi bi-box2-heart" title="Emprestar"></i></a>
                            <a href="#"><i class="bi bi-x-circle" title="Deletar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container-card col-3">
                    <div class="card-livro">
                        <img src="https://source.unsplash.com/201x402" alt="">
                        <div class="descricao-livro">
                            <span class="nome-livro">Nome: <i class="bi bi-star-fill"></i></span>
                            <span>Autor: Paulo Rodrigo</span>
                            <span>Emprestado: nao</span>
                            <span>Coleção: de inverno</span>
                        </div>

                        <div class="botoes-card d-flex justify-content-around">
                            <a href="#"><i class="bi bi-pencil-square" title="Editar"></i></a>
                            <a href="#"><i class="bi bi-box2-heart" title="Emprestar"></i></a>
                            <a href="#"><i class="bi bi-x-circle" title="Deletar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container-card col-3">
                    <div class="card-livro">
                        <img src="https://source.unsplash.com/200x402" alt="">
                        <div class="descricao-livro">
                            <span class="nome-livro">Nome: <i class="bi bi-star-fill"></i></span>
                            <span>Autor: Paulo Rodrigo</span>
                            <span>Emprestado: nao</span>
                            <span>Coleção: de inverno</span>
                        </div>

                        <div class="botoes-card d-flex justify-content-around">
                            <a href="#"><i class="bi bi-pencil-square" title="Editar"></i></a>
                            <a href="#"><i class="bi bi-box2-heart" title="Emprestar"></i></a>
                            <a href="#"><i class="bi bi-x-circle" title="Deletar"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>